<template>
    <v-content>
        <v-app-bar color="accent">
            <v-img v-if="!bloodBank" height="24" max-width="28" :src="require('@/assets/logo_hc_sm.png')"/>
            <v-img v-else height="24" max-width="28" :src="bloodBank.img"/>
            <v-toolbar-title v-if="!bloodBank" style="margin-left: 5px; color: white"> Doação de Sangue do HC
            </v-toolbar-title>
            <v-toolbar-title v-else style="margin-left: 5px; color: white">{{bloodBank.name}}</v-toolbar-title>
            <v-spacer/>

            <v-tooltip v-if="user.root" bottom>
                <template v-slot:activator="{ on }">
                    <v-btn v-on="on" icon>
                        <v-icon @click="$router.push({name:'Admin'})">mdi-home</v-icon>
                    </v-btn>
                </template>
                <span>Home</span>
            </v-tooltip>
            <v-tooltip v-if="user.root" bottom>
                <template v-slot:activator="{ on }">
                    <v-btn v-on="on" icon>
                        <v-icon @click="$router.push({name:'Root'})">mdi-blood-bag</v-icon>
                    </v-btn>
                </template>
                <span>Banco de Sangue</span>
            </v-tooltip>
            <v-tooltip v-if="user.type==='ADMIN'" bottom>
                <template v-slot:activator="{ on }">
                    <v-btn v-on="on" icon>
                        <v-icon @click="openAdminUserDialog=true">mdi-account-tie</v-icon>
                    </v-btn>
                </template>
                <span>Adicionar Administrador</span>
            </v-tooltip>

            <!--            <v-btn icon>-->
            <!--                <v-icon>mdi-home</v-icon>-->
            <!--            </v-btn>-->

            <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                    <v-icon v-on="on" class="toolbar-items" @click="logout">mdi-power</v-icon>
                </template>
                <span>Logout</span>
            </v-tooltip>
        </v-app-bar>
        <router-view style="margin-bottom: 100px"/>
        <AddAdminUserDialog v-model="openAdminUserDialog"/>
    </v-content>
</template>

<script>
    import {mapState, mapMutations} from 'vuex'
    import AddAdminUserDialog from "../../components/Dialog/AddAdminUserDialog";

    export default {
        name: "Main",
        components: {AddAdminUserDialog},
        data() {
            return {
                openAdminUserDialog: false,
                bloodBank: undefined,
            }
        },
        methods: {
            ...mapMutations('user', ['removeUser']),
            logout: function () {
                this.removeUser();
                this.$router.push("/login");
            },

        },
        computed: {
            ...mapState('user', ['user']),
            ...mapState('bloodBank', ['bloodBanks']),
        },
        mounted() {
            if (this.user.type === 'ADMIN') {
                this.bloodBank = this.bloodBanks.find(value => value.id === this.user.blood_bank_id);
            }
        },
        watch: {
            $route: {
                immediate: true,
                handler(value) {
                    if (value.name === "Main") {
                        if (!this.user) {
                            this.$router.push({name: "login"})
                        } else if (this.user.type === "ADMIN") {
                            this.$router.push({name: "Admin"})
                        } else {
                            this.$router.push({name: "User"})
                        }
                    }
                }
            }
        }
    }
</script>
