<template>
    <div>
        <v-progress-circular
                :value="percent"
                :color="color"
                size="25"
        />
        <span style="margin-left: 5px">{{text}}</span>
    </div>
</template>

<script>
    export default {
        name: "AppointmentStatus",
        props: {
            status: String,
        },
        data() {
            return {
                color: 'primary',
                percent: 25,
                text: ''
            }
        },
        watch: {
            status: {
                immediate: true,
                handler(value) {
                    switch (value) {
                        case "CANCELED":
                            this.percent = 100;
                            this.color = 'error';
                            this.text = "Cancelado";
                            break;
                        case "SCHEDULED":
                            this.percent = 25;
                            this.color = 'primary';
                            this.text = "Marcado";
                            break;
                        case "RESCHEDULED":
                            this.percent = 50;
                            this.color = 'yellow';
                            this.text = "Remarcado";
                            break;
                        case "PROGRESS":
                            this.percent = 75;
                            this.color = 'secondary';
                            this.text = "Em progresso";
                            break;
                        case "FINISHED":
                            this.percent = 100;
                            this.color = 'success';
                            this.text = "Finalizado";
                            break;
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>