<template>
    <v-card class="elevation-12 col-11 col-sm-11 col-md-8 col-lg-6"
            style="margin-top: 10px; padding-top: 0; padding-left: 0;padding-right: 0">
        <v-toolbar
                color="primary"
                dark
                flat
        >
            <v-toolbar-title>Doação de Sangue Agendadas</v-toolbar-title>
            <v-spacer/>
            <v-btn color="secondary" @click="openAppoinmentDialog= true">Agendar</v-btn>
        </v-toolbar>
        <v-card-text>
            <v-layout wrap>
                <v-card class="col-12" style="margin: 5px;" v-for="(appointment, index) in appointments"
                        :key="index">
                    <v-card-title v-if="index===0">Proxima Doação de Sangue</v-card-title>
                    <v-layout wrap>
                        <div class="col-6 col-sm-4">
                            <v-icon>mdi-calendar-month</v-icon>
                            <span>{{appointment.date.format('DD/MM/YYYY HH:mm')}}</span>
                        </div>
                        <v-spacer/>
                        <AppointmentStatus class="col-5" :status="appointment.status"/>
                        <v-tooltip bottom>
                            <template v-slot:activator="{on}">
                                <v-btn class="dismsis col-1" @click="onDismiss(appointment)" icon v-on="on">
                                    <v-icon color="red">mdi-delete</v-icon>
                                </v-btn>
                            </template>
                            Desmarcar
                        </v-tooltip>
                        <div class="col-12 col-sm-4">
                            <v-icon>mdi-map-marker</v-icon>
                            <span>{{bloodBankLabel(appointment)}}</span>
                        </div>
                        <v-alert class="col-12" type="info" v-if="index===0">
                            <v-layout wrap>
                                <span class="col-12">1. Esteja descansado(dormido bem durante a noite)</span>
                                <span class="col-12">2. Venha Alimentado e Hidratado</span>
                                <span class="col-12">3. Traga seu documento oficial com foto (RG, Passaporte, Carteira de Habilitação, de Trabalho ou Profissional)</span>
                                <span class="col-12">4. Não venho com acompanhante menor de 14 anos</span>
                                <span class="col-12" v-if="user.age < 18">5. Venha Acompanhado de Seu Responsável</span>
                            </v-layout>
                        </v-alert>
                    </v-layout>
                </v-card>
            </v-layout>
        </v-card-text>
        <v-card-actions>
        </v-card-actions>
        <AddAppointmentDialog title="Agendar Horário" :open="openAppoinmentDialog"
                              @close="openAppoinmentDialog =$event" @success="successToAppointment"/>
        <CancelAppointmentDialog v-model="openCancelDialog" :appointment="appointmentToCancel"/>
    </v-card>

</template>

<script>
    import AddAppointmentDialog from "./Dialog/AddAppointmentDialog";
    import {mapMutations, mapState} from "vuex";
    import AppointmentStatus from "./AppointmentStatus";
    import AppointmentUtils from "./Mixins/AppointmentUtils";
    import CancelAppointmentDialog from "./Dialog/CancelAppointmentDialog";

    export default {
        name: "AppointmentUserCard",
        mixins: [AppointmentUtils],
        components: {CancelAppointmentDialog, AppointmentStatus, AddAppointmentDialog},
        props: {
            appointments: {
                type: Array,
                default: () => [],
            }
        },
        data() {
            return {
                openAppoinmentDialog: false,
                infoDispled: false,
                openCancelDialog: false,
                appointmentToCancel: undefined,
            }
        },
        methods: {
            ...mapMutations('snackbar', ['success', 'error']),
            successToAppointment(msg) {
                this.success(msg.msg);
                this.appointments.push({date: msg.date, id: msg.id, blood_bank_id: msg.blood_bank_id})
            },
            onDismiss(appointment) {
                this.appointmentToCancel = appointment;
                this.openCancelDialog = true;
            },
            bloodBankLabel(appointment) {
                console.log(appointment);
                console.log(this.bloodBanks);
                if (!appointment.blood_bank) {
                    return this.bloodBanks.find(value => value.id === appointment.blood_bank_id).name
                } else {
                    return appointment.blood_bank.name
                }
            }

        },
        computed: {
            ...mapState('user', ['user']),
            ...mapState('bloodBank', ['bloodBanks']),
        },
    }
</script>

<style scoped>

</style>