<template>
    <v-card style="margin: 5px;">
        <v-layout wrap>
            <div class="col-12 col-sm-6">
                <div>Doador</div>
                <p class="display-1 text--primary" style="margin-bottom: 0">
                    {{appointment.user.name}}
                </p>
            </div>
            <div class="col-6 col-sm-3">
                <p>Horário</p>
                <div class="text--primary">
                    {{appointment.date.format('HH:mm')}}
                </div>
            </div>
            <AppointmentStatus class="col-6 col-sm-3" :status="appointment.status"/>
            <v-expansion-panels>
                <v-expansion-panel>
                    <v-expansion-panel-header>Informações</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-layout class="col-12" wrap style="padding: 0">
                            <div class="text--primary col-6" style="padding: 0; margin: 0">
                                {{`Idade: ${appointment.user.age} anos`}}
                            </div>
                            <div class="text--primary col-6" style="padding: 0; margin: 0">
                                {{`Genero: ${showGender(appointment.user.gender)}`}}
                            </div>
                            <div class="text--primary col-6" style="padding: 0; margin: 0">
                                {{`Peso: ${appointment.user.weight} Kg`}}
                            </div>
                            <div class="text--primary col-6" style="padding: 0; margin: 0">
                                {{ `Telefone: ${appointment.user.phone}`}}
                            </div>
                        </v-layout>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-layout>
        <v-card-actions>
            <v-spacer/>
            <v-btn v-if="notFinalized" class="col-4 col-sm-2" color="success" @click="openFinishedDialog=true">
                Finalizar
            </v-btn>
            <v-btn v-if="notFinalized" class="col-4 col-sm-2" color="primary" @click="openRescheduleDialog=appointment">
                Reagendar
            </v-btn>
            <v-btn v-if="notFinalized" class="col-4 col-sm-2" color="error"
                   @click="openCancelDialog=true">Desmarcar
            </v-btn>
        </v-card-actions>
        <CancelAppointmentDialog v-model="openCancelDialog" :appointment="appointment"/>
        <AddAppointmentDialog :open="openRescheduleDialog" @close="openRescheduleDialog=false"
                              title="Reagendar Horário"/>
        <FinishAppointmentDialog v-model="openFinishedDialog" :appointment="appointment"/>
    </v-card>
</template>

<script>
    import AppointmentStatus from "./AppointmentStatus";
    import CancelAppointmentDialog from "./Dialog/CancelAppointmentDialog";
    import FinishAppointmentDialog from "./FinishAppointmentDialog";
    import AddAppointmentDialog from "./Dialog/AddAppointmentDialog";

    export default {
        name: "AppointmentCard",
        components: {AddAppointmentDialog, FinishAppointmentDialog, CancelAppointmentDialog, AppointmentStatus},
        props: {
            appointment: Object,
        },
        data() {
            return {
                openCancelDialog: false,
                openRescheduleDialog: false,
                openFinishedDialog: false
            }
        },
        methods: {
            padNumber(number, pad) {
                var N = Math.pow(10, pad);
                return number < N ? ("" + (N + number)).slice(1) : "" + number
            },
            showGender(gender) {
                switch (gender) {
                    case 'MALE':
                        return "Homem";
                    case 'FEMALE':
                        return "Mulher";
                    default:
                        return "Outro"
                }
            }

        },
        computed: {
            notFinalized() {
                return this.appointment.status !== 'CANCELED' && this.appointment.status !== 'FINISHED'
            }
        }
    }
</script>

<style scoped>
    p {
        margin-bottom: 0;
    }
</style>