<template>
    <Card :title="bloodBank.name" style="max-height: 10rem">
        <template v-slot:pre-header>
            <v-img :src="bloodBank.img" max-height="32" max-width="32" style="margin-right: 1rem"/>
        </template>
        <v-layout wrap>
            <span class="col-8 col-sm-9">{{`${bloodBank.street} ${bloodBank.number}, ${bloodBank.neighborhood}, ${bloodBank.city}`}}</span>
            <a class="col-4 col-sm-3" target="_blank"
               :href="'https://www.google.com/search?q=' + bloodBank.name + '+como+chegar'">Como
                Chegar</a>

        </v-layout>
    </Card>
</template>

<script>
    import Card from "./Card";

    export default {
        name: "BloodBankLocation",
        components: {Card},
        props: {
            bloodBank: Object,
        },
        data() {
            return {

            };
        },

        methods: {},
    }
</script>

<style scoped>

</style>