<template>
    <v-card class="elevation-12"
            style="padding-top: 0; padding-left: 0;padding-right: 0">

        <v-toolbar
                :color="color"
                dark
                flat
        >
            <slot name="pre-header"/>
            <v-toolbar-title>{{title}}</v-toolbar-title>
            <v-spacer/>
            <slot name="header"/>
        </v-toolbar>
        <v-container>
            <slot/>
        </v-container>
    </v-card>
</template>

<script>
    export default {
        name: "Card",
        props: {
            title: String,
            color: {
                type: String,
                default: 'primary',
            }
        }
    }
</script>

<style scoped>

</style>