<template>
    <v-dialog v-on="$listeners" v-bind="$props" max-width="400">
        <Card title="Deseja Finalizar este Horário?">
            <v-card-text>{{appointment.date.format('HH:mm DD/MM/YYYY')}}</v-card-text>
            <v-card-actions>
                <v-spacer/>
                <v-btn :loading="loading" @click="onClick">Sim</v-btn>
                <v-btn @click="$emit('input', false)">Não</v-btn>
            </v-card-actions>
        </Card>
    </v-dialog>
</template>

<script>
    import Card from "./Card";
    import {URL} from "../plugins/axios";
    import {mapMutations} from "vuex";


    export default {
        name: "FinishAppointmentDialog",
        components: {Card},
        props: {
            value: Boolean,
            appointment: {
                type: Object,
            }
        },
        data() {
            return {
                loading: false,
            }
        },
        methods: {
            ...mapMutations('snackbar', ['success', 'error']),
            onClick() {
                this.loading = true;
                this.$http.post(URL.FINISH_APPOINTMENT + '/' + this.appointment.id,).then(() => {
                    this.loading = false;
                    this.success('Sucesso ao Finalizar Procedimento');
                    this.appointment.status = "FINISHED";
                    this.$emit('input', false);
                }).then((value) => {
                    this.loading = false;
                    if (value) {
                        this.error(value);
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>