<template>
    <v-snackbar :value="show" @input="close" :color="color" :timeout="5000">
        {{text}}
    </v-snackbar>
</template>

<script>
    import {mapState, mapMutations} from 'vuex';

    export default {
        name: "Snackbar",
        methods: {
            ...mapMutations('snackbar', ['close'])
        },
        computed: {
            ...mapState('snackbar', ['show', 'text', 'color'])
        },
    }
</script>

<style scoped>

</style>