<template>
    <v-layout justify-center wrap style="padding: 0">
        <v-card class="elevation-12 col-11 col-sm-11 col-md-8 col-lg-6"
                style="margin-top: 10px; padding-top: 0; padding-left: 0;padding-right: 0">
            <v-toolbar
                    color="primary"
                    dark
                    flat
            >
                <v-layout align-start>
                    <v-toolbar-title>Doações Agendadas Para</v-toolbar-title>
                    <DateInput v-model="date" @input="getAppointment"/>
                    <v-spacer/>
                </v-layout>

            </v-toolbar>
            <v-card-text>
                <v-layout wrap>
                    <AppointmentCard
                            class="col-12"
                            v-for="(appointment, index) in appointments"
                            :key="index"
                            :appointment="appointment"/>
                </v-layout>
            </v-card-text>
            <v-card-actions>
            </v-card-actions>
        </v-card>
    </v-layout>
</template>

<script>
    import {URL} from "../../../plugins/axios";
    import AppointmentCard from "../../../components/AppointmentCard";
    import DateInput from "../../../components/Input/DateInput";

    export default {
        name: "Admin",
        components: {DateInput, AppointmentCard},
        data() {
            return {
                date: this.moment(),
                appointments: [],
                openAppoinmentDialog: false,
            }
        },
        methods: {
            getAppointment(date = undefined) {
                this.appointments = [];
                if (!date) {
                    date = this.moment()
                }
                this.$http.get(URL.APPOINTMENT, {params: {date: date.format("YYYY-MM-DD")}}).then(response => {
                    this.appointments = response.data.appointment;
                    for (let item of this.appointments) {
                        item.date = this.moment(item.date);
                    }
                }).catch()

            }
        },

        mounted() {
            this.getAppointment();
        },

    }
</script>

<style scoped>

</style>