<template>
    <v-layout justify-center wrap>
        <Card title="Banco de Sangue" style="margin-top: 10px;">
            <template v-slot:header>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <v-btn icon v-on="on">
                            <v-icon @click="openAddBloodBankDialog=true">mdi-plus</v-icon>
                        </v-btn>
                    </template>
                    Adicionar Banco de Sangue
                </v-tooltip>
            </template>
            <v-card v-for="(bloodBank, i) in bloodBanks" :key="i">
                <v-layout justify-center align-center wrap>
                    <v-img :src="bloodBank.img" max-width="50" class="col-3 col-sm-2"/>
                    <span class="col-4 col-sm-2 ">{{bloodBank.name}}</span>
                    <span class="col-4 col-sm-2 ">{{bloodBank.city}}</span>
                    <span class="col-4 col-sm-2 ">{{bloodBank.neighborhood}}</span>
                    <span class="col-4 col-sm-2 ">{{bloodBank.street}}</span>
                    <span class="col-4 col-sm-2 ">{{bloodBank.number}}</span>
                </v-layout>

            </v-card>
        </Card>
        <AddBloodBankDialog v-model="openAddBloodBankDialog"/>
    </v-layout>
</template>

<script>
    import Card from "../../../components/Card";
    import {mapState, mapMutations} from "vuex"
    import {URL} from "../../../plugins/axios";
    import AddBloodBankDialog from "../../../components/Dialog/AddBloodBankDialog";

    export default {
        name: "Root",
        components: {AddBloodBankDialog, Card},
        data() {
            return {
                openAddBloodBankDialog: false,
            }
        },
        methods: {
            ...mapMutations('bloodBank', ['setBloodBanks'])
        },
        computed: {
            ...mapState('bloodBank', ['bloodBanks']),
        },
        mounted() {
            if (!this.bloodBanks.length) {
                this.$http.get(URL.BLOOD_BANK).then((response) => {
                    this.setBloodBanks(response.data.blood_bank);
                });
            }

        }


    }
</script>

<style scoped>

</style>