<template>
    <div>
        <v-app-bar color="accent">
            <v-img height="24" max-width="28" :src="require('@/assets/logo_hc_sm.png')"/>
            <v-toolbar-title style="margin-left: 5px; color: white"> Doação de Sangue do HC</v-toolbar-title>
            <v-spacer/>
            <v-btn icon>
                <v-icon>mdi-home</v-icon>
            </v-btn>

        </v-app-bar>
        <v-layout justify-center wrap>
            <v-card class="elevation-12 col-11 col-sm-8 col-md-6 col-lg-4 loginCard"
                    v-if="screen === 'LOGIN'"
                    style="padding-top: 0; padding-left: 0;padding-right: 0">
                <v-toolbar
                        color="primary"
                        dark
                        flat
                >
                    <v-toolbar-title>Login</v-toolbar-title>
                    <v-spacer/>
                </v-toolbar>
                <v-card-text>
                    <v-form v-model="valid" lazy-validation ref="loginForm">
                        <v-text-field
                                v-model="loginForm.email"
                                label="Email"
                                name="login"
                                prepend-icon="mdi-email"
                                type="text"
                                :rules="[required]"
                        />

                        <v-text-field
                                v-model="loginForm.password"
                                label="Senha"
                                name="password"
                                prepend-icon="mdi-lock"
                                type="password"
                                :rules="[required]"
                        />
                    </v-form>
                    <v-alert v-if="error" type="error">
                        {{error}}
                    </v-alert>
                </v-card-text>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn color="secondary" @click="screen='REGISTER'">Registrar</v-btn>
                    <v-btn color="primary" @click="login" :disabled="!valid" :loading="loading">Login</v-btn>
                </v-card-actions>
            </v-card>
            <v-card class="elevation-12 col-11 col-sm-8 col-md-6 col-lg-4 loginCard" v-if="screen === 'REGISTER'"
                    style="padding-top: 0; padding-left: 0;padding-right: 0">
                <v-toolbar
                        color="primary"
                        dark
                        flat
                >
                    <v-toolbar-title>Registro</v-toolbar-title>
                    <v-spacer/>
                </v-toolbar>
                <v-card-text>
                    <v-form v-model="valid" lazy-validation ref="registerForm">
                        <v-text-field
                                v-model="form.email"
                                label="Email"
                                name="email"
                                prepend-icon="mdi-email"
                                type="text"
                                :rules="[required,moreThan8]"
                        />
                        <v-text-field
                                v-model="form.password"
                                id="password"
                                label="Senha"
                                name="password"
                                prepend-icon="mdi-lock"
                                type="password"
                                :rules="[required]"
                        />
                        <v-text-field
                                v-model="repassword"
                                label="Confirme a sua Senha"
                                name="password"
                                prepend-icon="mdi-lock"
                                type="password"
                                :rules="[confirmPassword(form.password)]"
                        />
                        <v-text-field
                                v-model="form.name"
                                label="Nome Completo"
                                name="name"
                                prepend-icon="mdi-account"
                                type="text"
                                :rules="[required,moreThan8]"
                        />

                        <v-text-field
                                v-model="form.phone"
                                label="Telefone de Contato"
                                name="phone"
                                prepend-icon="mdi-phone"
                                type="text"
                                :rules="[required,between8_20]"
                        />
                        <v-text-field
                                v-model="form.age"
                                label="Idade"
                                name="age"
                                prepend-icon="mdi-baby-carriage"
                                type="number"
                                :rules="[required,between16_80]"
                        />
                        <v-select v-model="form.gender"
                                  :items="GENDER"
                                  label="Gênero"
                                  item-text="label" item-value="value"
                                  prepend-icon="mdi-gender-male-female"
                                  :rules="[required]"
                        />
                        <v-text-field
                                v-model="form.weight"
                                label="Peso"
                                name="weight"
                                prepend-icon="mdi-weight-kilogram"
                                type="number"
                                :rules="[required,between40_120]"
                        />
                        <v-btn color="primary" @click="disclamer=true">Política de Privacidade</v-btn>
                        <v-switch label="Li e concondo com a Política de Privacidade" :rules="[required]"/>

                    </v-form>
                    <v-alert v-if="error" type="error">
                        {{error}}
                    </v-alert>
                    <Disclamer v-model="disclamer"/>
                </v-card-text>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn color="secondary" @click="screen='LOGIN'">Voltar</v-btn>
                    <v-btn color="primary" @click="register" :disabled="!valid" :loading="loading">Registrar</v-btn>
                </v-card-actions>
            </v-card>
        </v-layout>
    </div>
</template>

<script>
    import {URL} from "../../plugins/axios";
    import {mapMutations} from "vuex";
    import Disclamer from "../../components/Disclamer";

    export default {
        name: "Login",
        components: {Disclamer},
        data() {
            return {
                repassword: '',
                screen: 'LOGIN',
                loginForm: {},
                form: {},
                valid: false,
                loading: false,
                error: null,
                disclamer: false,
                GENDER: [
                    {
                        value: 'MALE',
                        label: 'Masculino'
                    }, {
                        value: 'FEMALE',
                        label: 'Feminino'
                    }, {
                        value: 'OTHER',
                        label: 'Outro'
                    }
                ]
            }
        },
        methods: {
            ...mapMutations('user', ['setUser']),
            login() {
                if (!this.$refs.loginForm.validate()) {
                    return
                }

                this.loading = true;
                this.$http.post(URL.LOGIN, this.loginForm).then((response) => {
                    this.loading = false;
                    this.setUser(response.data);
                    if (response.data.type === 'USER') {
                        this.$router.push({name: 'User'});
                    } else {
                        this.$router.push({name: 'Admin'});
                    }
                }).catch((response) => {
                        this.error = response;
                        this.loading = false;
                    }
                )
            },
            register() {
                if (!this.$refs.registerForm.validate()) {
                    return
                }

                this.loading = true;
                this.$http.post(URL.USER, this.form).then(() => {
                    this.loading = false;
                    this.setUser(this.form);
                    this.$router.push({name: 'User'});
                }).catch((response) => {
                        this.error = response;
                        this.loading = false;
                    }
                )
            },
            required: value => !!value || 'Campo Obrigatório.',
            moreThan8: value => value ? value.length >= 8 || 'No minimo 8 caracteres.' : 'Campo Obrigatório.',
            between16_80: value => value ? value >= 16 && value <= 80 || 'A sua idade tem que ser entre 16 e 80 anos.' : 'Campo Obrigatório.',
            between8_20: value => value ? (value.length >= 8 && value.length <= 20 || 'Numero de Telefone entre 8 e 20 Caracteres.') : 'Campo Obrigatório.',
            between40_120: value => value ? (value >= 40 && value <= 120 || 'Peso entre 40Kg e 120Kg.') : 'Campo Obrigatório.',
            confirmPassword() {
                return value => value ? value === this.form.password || 'As senhas não são iguais.' : 'Campo Obrigatório.'
            },
            numberBetween(min, max) {
                return function (value) {
                    return value ? Number(value) <= max && Number(value) >= min || 'Valor entre ' + min + ' e ' + max : true
                }
            },
        },
        watch: {
            screen() {
                this.error = '';
                this.form.name = '';
                this.form.email = '';
                this.form.password = '';
            },
        }

    }
</script>

<style scoped>
    .loginCard {
        margin-top: 10px;
    }
</style>