<template>
    <v-menu
            v-model="menu2"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
    >
        <template v-slot:activator="{ on }">
            <v-text-field
                    style="margin-left: 5px;"
                    :value="computedDateFormatted"
                    :label="label"
                    persistent-hint
                    :prepend-icon="prependIcon"
                    readonly
                    v-on="on"
            />
        </template>
        <v-date-picker
                :value="vPickerValue"
                @change="onDateChange"
                @click:date="openDatePicker=false"
                :min="minDate"
                :allowed-dates="allowedDates"
                @update:picker-date="pickerUpdate($event)"
                locale="pt-br"
        />
    </v-menu>
</template>

<script>
    export default {
        name: "DateInput",
        props: {
            value: {
                default: () => new Date()
            },
            label: String,
            prependIcon: String,
            minCurrentDate: Boolean,
        },
        data() {
            return {
                openDatePicker: false,
                dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
                hour: null,
                currentDate: this.moment().format("YYYY-MM-DD"),
                menu2: false
            }
        },
        computed: {
            vPickerValue() {
                return this.moment(this.value).format("YYYY-MM-DD");
            },
            computedDateFormatted() {
                return this.moment(this.value).format("DD/MM/YYYY")
            },
            minDate() {
                if (this.minCurrentDate) {
                    return this.currentDate;
                } else {
                    return undefined;
                }
            }
        },

        methods: {
            onDateChange(value) {
                this.$emit('input', this.moment(value))
            },
            allowedDates(a) {
                return this.availableDates.includes(a);
            },
            pickerUpdate: function (val) {
                let selectedDate = this.moment(val, "YYYY-MM");
                let nowDate = this.moment();
                let totalDay = selectedDate.daysInMonth();
                let availableDates = [];

                let day;

                if (selectedDate.isSame(nowDate, 'month')) {
                    if (this.minCurrentDate) {
                        day = this.moment().format('D');
                    } else {
                        day = 1;
                    }
                } else if (selectedDate.isAfter(nowDate, 'month')) {
                    day = 1;
                } else {
                    if (this.minCurrentDate) {
                        this.availableDates = availableDates;
                        this.allowedDates();
                        return
                    } else {
                        day = 1;
                    }
                }
                for (let i = day; i <= totalDay; i++) {
                    let date = this.moment().date(i).month(selectedDate.month()).year(selectedDate.year());
                    if (date.day() !== 0 && date.day() !== 6) {
                        availableDates.push(date.format("YYYY-MM-DD"))
                    }
                }
                this.availableDates = availableDates;
                this.allowedDates();
            },
            formatDate(date) {
                if (!date) return null;

                const [year, month, day] = date.split('-');
                return `${day}/${month}/${year}`
            },
            parseDate(date) {
                if (!date) return null;
                const [month, day, year] = date.split('/');
                return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
            }
        },
    }
</script>

<style scoped>

</style>