<template>
    <v-layout justify-center wrap>
        <v-card>



        </v-card>
    </v-layout>
</template>

<script>
    export default {
        name: "UpdateUser"
    }
</script>

<style scoped>

</style>