<template>
    <v-layout justify-center wrap>
        <!--        <v-card class="elevation-12 col-11 col-sm-11 col-md-8 col-lg-6"-->
        <!--                style="margin-top: 10px; padding-top: 0; padding-left: 0;padding-right: 0">-->
        <!--            <v-toolbar-->
        <!--                    color="primary"-->
        <!--                    dark-->
        <!--                    flat-->
        <!--            >-->
        <!--                <v-toolbar-title>Doação de Sangue Marcadas</v-toolbar-title>-->
        <!--                <v-spacer/>-->
        <!--                <v-btn color="secondary" @click="openAppoinmentDialog= true">Marcar</v-btn>-->
        <!--            </v-toolbar>-->
        <!--        </v-card>-->

        <AppointmentUserCard
                :appointments="appointments"
        />
    </v-layout>
</template>

<script>
    import {URL} from "../../../plugins/axios";
    import AppointmentUserCard from "../../../components/AppointmentUserCard";
    import AppointmentUtils from "../../../components/Mixins/AppointmentUtils";

    export default {
        name: "User",
        mixins: [AppointmentUtils],
        components: {AppointmentUserCard,},
        data() {
            return {
                appointments: [],
            }
        },
        methods: {},
        mounted() {
            this.$http.get(URL.APPOINTMENT).then(response => {
                response.data.appointment.sort((a, b) => {
                    if (a.status !== this.APPOINTMENT_STATUS.CANCELED &&
                        b.status === this.APPOINTMENT_STATUS.CANCELED) {
                        return -1;
                    } else if (a.status === this.APPOINTMENT_STATUS.CANCELED &&
                        b.status === this.APPOINTMENT_STATUS.CANCELED) {
                        return 0;
                    } else {
                        return 1;
                    }
                });
                this.appointments = response.data.appointment;
                for (let item of this.appointments) {
                    item.date = this.moment(item.date);
                }
            }).catch()
        }
    }
</script>

<style scoped>

</style>