<template>
    <v-app>
        <div :style="background"></div>
        <router-view />
        <v-container>
            <v-layout justify-center style="margin-bottom: 10rem">
                <v-spacer/>
                <BloodBankLocation class="col-12 col-sm-6" v-for="(bloodbank, i) in bloodBanks" :bloodBank="bloodbank"
                                   :key="i"/>
                <v-spacer/>
            </v-layout>
        </v-container>
        <v-footer
                absolute
                class="font-weight-light"
        >
            <v-col
                    class="text-center"
                    cols="12">
                {{ new Date().getFullYear() }} — <strong>Site de Agendamento desenvolvido pelo Projeto de Extensão
                Ciência para Todos - Universidade Federal do Paraná. Aluno do Curso de Engenharia Elétrica: Caio
                Filus.</strong>
            </v-col>
        </v-footer>
        <Snackbar/>
    </v-app>

</template>

<script>

    import Snackbar from "./components/Snackbar";
    import {mapMutations, mapState} from "vuex";
    import {URL} from "./plugins/axios";
    import BloodBankLocation from "./components/BloodBankLocation";

    export default {
        name: 'App',
        components: {BloodBankLocation, Snackbar},
        data: () => ({
            //
        }),
        methods: {
            ...mapMutations('bloodBank', ['setBloodBanks']),
        },
        computed: {
            ...mapState('bloodBank', ['bloodBanks']),
            background() {
                return {
                    // backgroundSize: 'cover',
                    position: 'fixed',
                    backgroundImage: 'url(' + require('@/assets/hc_capa.jpg') + ')',
                    backgroundPosition: 'center',
                    backgroundRepeat: 'no-repeat',
                    opacity: '0.5',
                    backgroundSize: 'cover',
                    height: '100%',
                    width: '100%',
                }
            }
        },
        mounted() {
            this.$http.get(URL.BLOOD_BANK).then((response) => {
                this.setBloodBanks(response.data.blood_bank);
            });
        }

    };
</script>
