<template>
    <v-dialog
            :value="dialog"
            max-width="500"
            @input="close()"
            @click:outside="close()"
            @keydown.esc="close()"
    >
        <Card :title="title">
            <v-form>
                <h5 class="headline v-card-title" style="color: black">Escolha o Local</h5>
                <v-select v-model="blood_bank_id"
                          :items="bloodBanks"
                          item-text="name"
                          item-value="id"
                          @change="selectedBloodBank"/>
                <h5 class="headline v-card-title col-12" style="color: black">Escolha o Dia</h5>
                <DateInput v-model="date" min-current-date/>
                <!--                    <v-text-field v-model="date" @click="openDatePicker=true" readonly :rules="[required]"/>-->
                <h5 class="headline v-card-title" style="color: black">Escolha o Horário</h5>
                <v-select v-model="hour" :items="availableHour" item-text="hour" item-value="hour"/>
            </v-form>
            <v-card-actions>
                <v-spacer/>
                <v-btn color="accent" @click="close">Cancelar
                </v-btn>
                <v-btn color="primary" :loading="loading" :disabled="!date || !hour" @click="sendAppointment">Agendar
                </v-btn>
            </v-card-actions>
        </Card>
    </v-dialog>
</template>

<script>
    import {URL} from "../../plugins/axios";
    import DateInput from "../Input/DateInput";
    import Card from "../Card";
    import {mapState, mapMutations} from "vuex";


    export default {
        name: "AddAppointmentDialog",
        components: {Card, DateInput},
        props: {
            open: {
                type: [Boolean, Object],
                default: null,
            },
            title: {
                required: true,
                type: String
            }
        },
        data() {
            return {
                isAdd: true,
                dialog: false,
                date: this.defaultDate(),
                hour: null,
                blood_bank_id: this.bloodBanks ? this.bloodBanks[0].id : null,
                formValidate: false,
                unavailableAppointments: [],
                loading: false,
                snackbar: {
                    open: false,
                    text: '',
                    color: 'success'
                },
                required: value => !!value || "Campo requerido",
            }
        },
        methods: {
            ...mapMutations('bloodBank', ['setBloodBanks']),
            ...mapMutations('snackbar', ['success', 'error']),
            close() {
                this.$emit('close', false);
            },
            sendAppointment() {
                this.date.set({
                    hours: parseInt(this.hour.split(':')[0]),
                    minutes: parseInt(this.hour.split(':')[1])
                });
                let form = {
                    date: this.date.format(),
                    blood_bank_id: typeof this.blood_bank_id == 'number' ? this.blood_bank_id : this.blood_bank_id.id
                };
                this.loading = true;
                if (typeof this.open == "boolean") {
                    this.$http.post(URL.APPOINTMENT, form).then((response) => {
                        this.loading = false;
                        this.$emit('success', {
                            msg: `Horário Agendado, favor comparecer dia
                     ${this.date.date()} as ${this.date.hours()}:${this.date.minutes()}`,
                            date: this.date,
                            blood_bank_id: form.blood_bank_id,
                            id: response.data.id,
                        });
                        this.close();
                    }).catch(response => {
                        this.loading = false;
                        this.error(response)
                    })
                } else {
                    form.id = this.open.id;
                    this.$http.put(URL.APPOINTMENT, form).then(() => {
                        this.loading = false;
                        this.$emit('success', {
                            msg: 'Horário reagendado com sucesso'
                        });
                        this.open.status = 'RESCHEDULED';
                        this.close();
                    }).catch(response => {
                        this.loading = false;
                        this.error(response)
                    })
                }
            },
            defaultDate() {
                let moment = this.moment();
                if (moment.day() === 6) {
                    moment = moment.add(2, 'day')
                } else if (moment.day() === 7) {
                    moment = moment.add(1, 'day')
                }
                return moment;
            },
            selectedBloodBank(bloodbank_id) {
                console.log(bloodbank_id);
                this.$http.get(URL.UNAVAILABLE, {params: {blood_bank_id: bloodbank_id}}).then((response) => {
                    response.data.appointment.forEach(value => value.date = this.moment(value.date));
                    this.unavailableAppointments = response.data.appointment;
                });
            }

        },
        computed: {
            ...mapState('bloodBank', ['bloodBanks']),
            availableHour() {
                let selectedDate = this.date;
                let date = this.moment();
                let result = [];
                date.set({
                    hour: 7,
                    minute: 40,
                });

                let selectedUnvaliable = this.unavailableAppointments.filter(
                    value => value.date.isSame(selectedDate, 'day'));

                for (; date.hours() < 17; date = date.add(30, 'minutes')) {
                    if (date.isSame(selectedDate, 'day')) {
                        let auxDate = this.moment();
                        auxDate.add(1, 'hours');
                        if (auxDate.hours() > date.hours()) {
                            continue
                        }
                    }
                    let isUsedHour = selectedUnvaliable.filter(value => date.isSame(value.date, 'minute'));
                    if (isUsedHour.length === 0) {
                        result.push({hour: date.format('HH:mm')});
                    }
                }
                return result
            }
        },
        mounted() {
            console.log(this.bloodBanks);
            this.blood_bank_id = this.bloodBanks ? this.bloodBanks[0].id : null;
        },
        watch: {
            open(value) {
                this.dialog = !!value;
                if (this.dialog) {
                    this.blood_bank_id = this.bloodBanks[0];
                    this.$http.get(URL.UNAVAILABLE).then((response) => {
                        response.data.appointment.forEach(value => value.date = this.moment(value.date));
                        this.unavailableAppointments = response.data.appointment;
                    });
                }
                if (typeof value == "object") {
                    this.date = value.date;
                    this.hour = value.date.format('HH:mm');
                }
                if (this.bloodBanks.length) {
                    this.$http.get(URL.BLOOD_BANK).then((response) => {
                        this.setBloodBanks(response.data.blood_bank);
                    });
                }
            },
        }

    }
</script>

<style scoped>

</style>