<template>
    <v-dialog
            :value="value"
            max-width="500"
            @input="close()"
            @click:outside="close()"
            @keydown.esc="close()"
    >
        <Card title="Adicionar Administrador">
            <v-form v-model="validate">
                <v-text-field v-model="form.name" type="text" label="Nome" :rules="[required,minLen8]"/>
                <v-text-field v-model="form.email" type="email" label="Email" :rules="[required]"/>
                <v-text-field v-model="form.password" type="password" label="senha" :rules="[required]"/>

                <v-select v-if="user.root" v-model="form.blood_bank_id" label="Banco de Sangue" :items="bloodBanks"
                          item-text="name"
                          item-value="id"/>
                <v-switch v-if="user.root" v-model="form.root" label="Root"/>
            </v-form>
            <v-card-actions>
                <v-btn @click="submit" :disabled="!validate" :loading="loading">Cadastrar</v-btn>
            </v-card-actions>
        </Card>
    </v-dialog>
</template>

<script>
    import Card from "../Card";
    import {URL} from "../../plugins/axios";
    import {mapMutations, mapState} from "vuex";

    export default {
        name: "AddAdminUserDialog",
        components: {Card},
        props: {
            value: {
                type: [Boolean, Object],
                default: null,
            },
        },

        data() {
            return {
                isAdd: true,
                dialog: false,
                form: {},
                validate: false,
                loading: false,
                required: (value) => !!value || "Campo Requerido",
                minLen8: (value) => !!value.length || "Minimo de 8 Caracteres",
            }
        },
        methods: {
            ...mapMutations('snackbar', ['success', 'error']),

            close() {
                this.$emit('input', false);
            },
            submit() {
                this.loading = true;
                this.$http.post(URL.ADMIN, this.form).then(() => {
                    this.loading = false;
                    this.success("Sucesso ao cadastrar Administrador");
                    this.close();
                }).catch(error => {
                    this.loading = false;
                    this.error(error);
                })
            }
        },
        computed: {
            ...mapState('bloodBank', ['bloodBanks']),
            ...mapState('user', ['user']),
        }

    }
</script>

<style scoped>

</style>