<template>
    <v-dialog
            :value="value"
            max-width="500"
            @input="close()"
            @click:outside="close()"
            @keydown.esc="close()"
    >

        <Card title="Adicionar Banco de Sangue">
            <v-form v-model="validate">
                <v-text-field v-model="form.name" type="text" label="Nome" :rules="[required]"/>
                <v-text-field v-model="form.city" type="text" label="Cidade" :rules="[required]"/>
                <v-text-field v-model="form.neighborhood" type="text" label="Bairro" :rules="[required]"/>
                <v-text-field v-model="form.street" type="text" label="Rua" :rules="[required]"/>
                <v-text-field v-model="form.number" type="text" label="Numero" :rules="[required]"/>
                <v-text-field v-model="form.img" type="text" label="Url da Imagem da Logo"
                              :rules="[required]"/>
                <v-layout wrap>
                    <v-img class="col-12 col-sm-3" max-width="300" max-height="200" v-if="form.img" :src="form.img"/>
                    <div class="col-12 col-sm-9">Exemplo: <a target="_blank"
                                                             href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSc9XDmG85HthvvxcojOTIn38
                                XNRvmv9q2NFWOhfzH_mtYrAZyM&usqp=CAU">
                        Logo do HC
                    </a></div>
                </v-layout>


            </v-form>
            <v-card-actions>
                <v-btn @click="submit" :disabled="!validate" :loading="loading">Cadastrar</v-btn>
            </v-card-actions>
        </Card>
    </v-dialog>
</template>

<script>
    import {mapMutations} from "vuex";
    import Card from "../Card";
    import {URL} from "../../plugins/axios";

    export default {
        name: "AddBloodBankDialog",
        components: {Card},
        props: {
            value: {
                type: [Boolean, Object],
                default: null,
            },
        },
        data() {
            return {
                isAdd: true,
                form: {},
                validate: false,
                loading: false,
                required: (value) => !!value || "Campo Requerido",
                minLen8: (value) => !!value.length || "Minimo de 8 Caracteres",
            }
        },
        methods: {
            ...mapMutations('snackbar', ['success', 'error']),

            close() {
                this.$emit('input', false);
            },
            submit() {
                this.loading = true;
                this.$http.post(URL.BLOOD_BANK, this.form).then(() => {
                    this.loading = false;
                    this.success("Sucesso ao cadastrar Banco de Sangue");
                    this.close();
                }).catch(error => {
                    this.loading = false;
                    this.error(error);
                })
            }
        }
    }
</script>

<style scoped>

</style>